.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Map Styling */
html,
body,
#root {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
  position: relative;
}
input {
  font-size: 12px;
}

#map {
  bottom:0px;
  height: 100vh;
  left: 350px;
  position: absolute;
  right: 0px;
}

.header {
  height: 50px;
  width: 100vw;
  background: darkgrey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 350px;
  background: #808080;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #e0e0e0;
  font-size: 22px;
  margin: 10px 0;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  width: 80%;
}

nav {
  max-height: calc(100vh - 90px);
  overflow: auto;
}

nav {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

ul.venues {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: -15px;
    overflow: auto;
    margin: 0 0 15px;
    padding: 0 10px 10px 30px;
}

li {
  display: block;
  position: relative;
  max-width: 90%;
  padding: 15px 5px;
  margin: 10px 0;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2px;
  color: #cbcbcb;
  cursor: pointer;
  border: 1px solid #303030;
  background: #606060;
}
  
li:hover {
  color: #cbcbcb;
  background: #303030;
}
  
li:focus{
  background: none;
}

